body { overflow: hidden; }

.main {
    margin: 0 auto;
    background: #010419;
    width: 100%;
    height: 1080px;
    overflow: hidden;
}

.paints {
height: 100vh;
 width: 100vw;
}

@media (max-width: 640px) {
    .main {
        display: none;
    }
}